* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/images/honest-joe-subliminal-messaging.jpg");
    background-repeat: repeat;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

header {
    padding: 20px 20px;
    border-bottom: 0.5px solid #555;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("assets/images/honest-joe-subliminal-messaging.jpg");
    background-repeat: repeat;
}

#title {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    width: 100%;
    /* background-color: green; */
    background-image: url("assets/images/honest-joe-subliminal-messaging.jpg");
    background-size: cover;
}

.introductory-text {
    text-align: center;
    padding: 0.5rem;
}

.introductory-text-1 {
    font-size: 3rem;
    width: 80%;
}

.introductory-text-2 {
    font-size: 2.5rem;
    width: 70%;
}

.introductory-text-3 {
    font-size: 2rem;
    width: 45%;
}

.introductory-text-4 {
    font-size: 1.45rem;
    width: 50%;
}

.introductory-text-5 {
    font-size: 1.2rem;
    width: 40%;
}

/* Main section */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    display: inherit;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 25px 0px;
    width: 60%;
    background-image: url("assets/images/honest-joe-subliminal-messaging.jpg");
}

form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}